<h2 mat-dialog-title>Calificar a "{{ nombreHuesped }}"</h2>
<mat-dialog-content class="mat-typography">
  <div class="rating-item">
    <div class="rating-label">
      <h3>Limpieza</h3>
    </div>
    <div class="rating-select">
      <mat-form-field style="width: 100%" [appearance]="apariencia">
        <mat-select placeholder="Seleccionar puntuación">
          <mat-option value="1">Pesima</mat-option>
          <mat-option value="2">Mala</mat-option>
          <mat-option value="3">Regular</mat-option>
          <mat-option value="4">Buena</mat-option>
          <mat-option value="5">Excelente</mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
  </div>
  <div class="rating-item">
    <div class="rating-label">
      <h3>Puntualidad Llegada/Salida</h3>
    </div>
    <div class="rating-select">
      <mat-form-field style="width: 100%" [appearance]="apariencia">
        <mat-select placeholder="Seleccionar puntuación">
          <mat-option value="1">Pesima</mat-option>
          <mat-option value="2">Mala</mat-option>
          <mat-option value="3">Regular</mat-option>
          <mat-option value="4">Buena</mat-option>
          <mat-option value="5">Excelente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="rating-item">
    <div class="rating-label">
      <h3>Comunicación</h3>
    </div>
    <div class="rating-select">
      <mat-form-field style="width: 100%" [appearance]="apariencia">
        <mat-select placeholder="Seleccionar puntuación">
          <mat-option value="1">Pesima</mat-option>
          <mat-option value="2">Mala</mat-option>
          <mat-option value="3">Regular</mat-option>
          <mat-option value="4">Buena</mat-option>
          <mat-option value="5">Excelente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <h3>Opinion sobre la estancia del huesped</h3>
  <textarea matInput placeholder="Opinion"></textarea>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-button mat-flat-button color="primary">Enviar</button>
</mat-dialog-actions>
