mat-card {
  width: 450px;
  margin: 0 calc(45% - (262px / 2));
  position: absolute;
  top: calc(45% - (489.02px / 2));
}

.login{
  background: rgba(255,255,255, 0.87);
  padding: 15px;
}

.form-group {
  /* Estilos existentes */

  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border-color: red;
}
.registrate{

  text-align: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  input[type="date"],
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
  }
}

/* Asegúrate de que el botón 'Examinar' y el input de archivo estén alineados correctamente. */
input[type="file"] {
  display: inline-block;
  width: calc(100% - 90px); /* Ajusta este valor según sea necesario */
}

button {
  width: 80px; /* Ajusta este valor según sea necesario */
}
