<app-login-contenedor>
  <div style="text-align: center;margin-bottom: 25px;">
    <div>
      <img src="/assets/home.png" alt="Imagen de búsqueda" style="width: 100%; max-height: 500px; margin-bottom: 15px">
    </div>

    <div>
      <button class="primary" mat-raised-button routerLink="./autenticacion">Iniciar Sesión</button>
    </div>
    <p style="margin: 15px">¿Aún no tienes una cuenta?</p>
    <div>
      <button class="secundary" mat-raised-button routerLink="./registro">Registrarse</button>
    </div>
  </div>
</app-login-contenedor>

