<app-contenedor>
  <app-cuerpo>
    <mat-grid-list cols="2" rowHeight="370px" >
      <mat-grid-tile>
        <img  [src]="propiedad.imageUrl" alt=" ">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://a0.muscache.com/im/pictures/airflow/Hosting-800749657971302401/original/6d859606-b073-4ade-8fd9-11d46ec5ba5f.jpg?im_w=1440" alt=" ">
      </mat-grid-tile>
    </mat-grid-list>

    <section style="margin: 50px" *ngIf="propiedad">
      <div>
        <h1>{{propiedad.type}} en {{propiedad.department}} - Anfitrion: {{propiedad.anfitrion}}</h1>
        <p> Huespedes - 2 habitaciones - 3 camas - 1 baño</p>
        <p>Propiedad ubicada en la av Khora esquina C. Pablo Jaimes N# 240 frente al surtidor "Khora"</p>
      </div>
      <h2><b>Lo que este lugar ofrece</b></h2>

      <mat-grid-list cols="2" style="margin: 15px" rowHeight="300px" >
        <mat-grid-tile [colspan]="1" >
          <div style="text-align: left;">
            <mat-list role="list" >
              <mat-list-item role="listitem"> <mat-icon>wifi</mat-icon> Wifi</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>pool</mat-icon> Piscina</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>tv</mat-icon> TV cable</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>pool</mat-icon> Jacuzzi</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>outdoor_grill</mat-icon> Parrillero</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>coffee</mat-icon> Cocina</mat-list-item>
            </mat-list>
          </div>
          <div style="text-align: left; margin-left: 50px">
            <mat-list role="list">
              <mat-list-item role="listitem"> <mat-icon>fitness_center</mat-icon> Equipamiento para realizar ejercicio</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>local_drink</mat-icon> Lavadora</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>air</mat-icon> Aire acondicionado</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>upcoming</mat-icon> detector de humo</mat-list-item>
              <mat-list-item role="listitem"> <mat-icon>airport_shuttle</mat-icon> Estacionamiento equipado</mat-list-item>
              <mat-list-item role="listitem"> </mat-list-item>
            </mat-list>
          </div>

        </mat-grid-tile>

        <!--card seleccion fechas-->
        <mat-grid-tile [colspan]="1">
          <mat-card style="text-align: center">
            <mat-card-title>
              Bs. {{propiedad.price}}
              <span style="font-size: 15px; color: #707070;">noche</span>
            </mat-card-title>
            <div class="margen">
              <form [formGroup]="formulario" >
                <div style="display: flex">
                  <mat-form-field style="width: 100%;" color="accent" [appearance]="apariencia">
                    <mat-label>Inherited calendar color</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field style="width: 100%;" color="accent" [appearance]="apariencia">
                    <mat-label>Custom calendar color</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                  </mat-form-field>
                </div>
                <mat-form-field style="width: 100%;" [appearance]="apariencia">
                  <mat-label>Huespedes</mat-label>
                  <select matNativeControl required>
                    <option value>Selecione una opción</option>
                  </select>
                </mat-form-field>
                <p> <b>total por 4 noches: Bs. 1000</b></p>
                <div>
                  <button style="width: 100%;" mat-raised-button  class="primary" routerLink="/huesped/pago">Continúar</button>
                </div>
              </form>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <div>
        <h2><b>Reseñas</b></h2>

      </div>
    </section>
    <div style="margin-bottom: 30px; text-align: center ">
      <button mat-raised-button  class="primary" (click)="contactar()">
        <mat-icon>perm_phone_msg</mat-icon>
        Contactar por WhatsApp
      </button>
    </div>
  </app-cuerpo>
</app-contenedor>

