<mat-toolbar class="primary mat-elevation-z3">
  <a routerLink="./">
    <img class="title_logo" src="/assets/logo-simple-sn-fondo.png">
  </a>
  <span class="text-Llajata" >LlajtaHome</span>
  <span class="example-spacer"></span>
  <div>
    <button *ngIf="userRole === 'huesped'" mat-icon-button matTooltip="Mis reseñas" routerLink="./review">
      <mat-icon>reviews</mat-icon>
    </button>
    <button class="text-name" mat-button (click)="cambiarRol()">
      {{ userRole ? 'Modo ' + userRole : '' }}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    Cerrar Sesión
    <mat-icon style="margin-left: 16px;">logout</mat-icon>
  </button>
</mat-menu>


