<app-contenedor>
<br>
<br>
<br>
<div>
    <app-cuerpo>
      <mat-toolbar class="sub-cabecera">
        <div>
          <span class="hidden-sm">Lista de plantas:</span>
        </div>
        <span class="example-spacer"></span>
        <button mat-raised-button class="green-button" routerLink="../registro-planta">
          <mat-icon>eco</mat-icon>
          Añadir planta
        </button>
      </mat-toolbar>
      <section class="grid-container">
      </section>
    </app-cuerpo>
</div>
</app-contenedor>