<div class="contenedor-titulo">
  <h1 class="hidden-sm"><b>{{titulo}}</b></h1>
</div>
<!--<mat-toolbar style="background-color: white">-->
<!--  <button *ngIf="atras&&queryParams" mat-icon-button matTooltip="Atrás" aria-label="Boton Atras" [routerLink]="atras" [queryParams]="queryParams">-->
<!--    <mat-icon>arrow_back</mat-icon>-->
<!--  </button>-->
<!--  <button *ngIf="atras&&!queryParams" mat-icon-button matTooltip="Atrás" aria-label="Boton Atras" [routerLink]="atras"  queryParamsHandling="preserve">-->
<!--    <mat-icon>arrow_back</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->
