//.example-card {
//  max-width: 400px;
//  margin: 15px;
//}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-item {
  flex: 0 0 calc(33.3333% - 16px);
  margin-bottom: 16px;
}
.flex-item:nth-child(3n) {
  margin-right: 0;
}


/* En tu archivo de estilos CSS o en línea en tu componente */
.grid-container {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.3333% - 16px), 1fr));
  grid-gap: 16px;
}

.grid-item {
  margin-bottom: 16px;
}
/* styles.css o app.component.css */

.centered-button {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior */
  right: 10px; /* Ajusta la distancia desde la derecha */
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-inline-calendar-card {
  width: 230px;
  box-shadow: none;
}

.filtro-barra {
  button {
    span {
      color: #034981ad;
    }
  }
}


