<app-contenedor>
  <mat-toolbar style="justify-content: center;" class="sub-cabecera">
      <div class="filtro-barra">
        <button mat-stroked-button [matMenuTriggerFor]="menuDonde" value="donde">
          Donde?
          <span *ngIf="selectedUbicacion">{{ selectedUbicacion }}</span>
        </button>
        <button mat-stroked-button [matMenuTriggerFor]="menuLlegada"  value="llegada">
          Llegada
          <span *ngIf="selectedLlegada">{{selectedLlegada | date: 'dd MMM'}}</span>
        </button>
        <button mat-stroked-button [matMenuTriggerFor]="menuSalida"  value="salida">
          Salida
          <span *ngIf="selectedSalida">{{selectedSalida | date: 'dd MMM'}}</span>
        </button>
        <button mat-stroked-button class="primary" (click)="buscarPropiedades()">
          <mat-icon>search</mat-icon>
        </button> 
      </div>
  </mat-toolbar>
  <app-cabecera titulo="Explora propiedades"></app-cabecera>
  <app-cuerpo>
    <section class="grid-container">
      <ng-container *ngIf="busquedaRealizada; else propiedadesNoFiltradas">
        <div *ngFor="let propiedad of propiedadesFiltradas" class="grid-item">
          <a style="text-decoration: none;" routerLink="./ver-propiedad" [queryParams]="{propiedadId: propiedad.id}">
            <mat-card class="example-card">
              <img mat-card-image [src]="propiedad.imageUrl" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{propiedad.department}}</p>
                <p>{{propiedad.dateIni | date: 'dd MMM y'}} al {{propiedad.dateFin | date: 'dd MMM y'}}</p>
                <p><b>Bs. {{propiedad.price}}</b></p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </ng-container>
      <ng-template #propiedadesNoFiltradas>
        <div *ngFor="let propiedad of propiedades" class="grid-item">
          <a style="text-decoration: none;" routerLink="./ver-propiedad" [queryParams]="{propiedadId: propiedad.id}">
            <mat-card class="example-card">
              <img mat-card-image [src]="propiedad.imageUrl" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{propiedad.department}}</p>
                <p>{{propiedad.dateIni | date: 'dd MMM y'}} al {{propiedad.dateFin | date: 'dd MMM y'}}</p>
                <p><b>Bs. {{propiedad.price}}</b></p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </ng-template>
    </section>
  </app-cuerpo>
  
</app-contenedor>

<mat-menu #menuDonde="matMenu">
  <button mat-menu-item (click)="seleccionarUbicacion(null)">Todos</button>
  <button mat-menu-item *ngFor="let ubicacion of ubicaciones" (click)="seleccionarUbicacion(ubicacion)">
    {{ ubicacion }}
  </button>
</mat-menu>

<mat-menu #menuLlegada="matMenu">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selectedLlegada"></mat-calendar>
  </mat-card>
</mat-menu>

<mat-menu #menuSalida="matMenu">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selectedSalida"></mat-calendar>
  </mat-card>
</mat-menu>
