<app-contenedor>
  <app-cabecera titulo="¡Te damos la bienvenida!"></app-cabecera>
    <app-cuerpo>
      <mat-toolbar class="sub-cabecera">
        <div>
          <span class="hidden-sm">Tus propiedades:</span>
        </div>
        <span class="example-spacer"></span>
        <button mat-raised-button class="primary" routerLink="./registro-propiedad">
          <mat-icon>add_home</mat-icon>
          Añadir
        </button>
      </mat-toolbar>
      <section class="grid-container">
        <div *ngFor="let propiedad of propiedades" class="grid-item">
          <a style="text-decoration: none;">
            <mat-card class="example-card">
              <img mat-card-image [src]="propiedad.imageUrl" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>{{propiedad.department}}</p>
                <p>{{propiedad.dateIni | date: 'dd MMM y'}} al {{propiedad.dateFin | date: 'dd MMM y'}}</p>
                <p><b>Bs. {{propiedad.price}}</b></p>
                <p><b>Estado: </b>{{propiedad.estado}}</p>
              </mat-card-content>
              <mat-card-actions style="display: flex; justify-content: space-between;">
                <button style="margin-left: 10px" mat-raised-button color="warn" (click)="abrirModalEliminar()">Eliminar</button>
                <button mat-button class="primary"[matMenuTriggerFor]="menuHuesped">
                  Calificar al huesped
                </button>
                <mat-menu #menuHuesped="matMenu">
                  <button mat-menu-item (click)="abrirModalResenia('Mario Goitia')">Mario Goitia</button>
                  <button mat-menu-item (click)="abrirModalResenia('Luciana Moira')">Luciana Moira</button>
                  <button mat-menu-item (click)="abrirModalResenia('Camilo Arispe')">Camilo Arispe</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menuSettings">
                  <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #menuSettings="matMenu">
                  <button *ngIf="propiedad.estado != 'No Publicado' && propiedad.estado!='Publicado' "  mat-menu-item (click)="seleccionChange('Publicado', propiedad.id)">Publicado</button>
                  <button *ngIf="propiedad.estado === 'Publicado' || propiedad.estado === 'Pausa'" mat-menu-item (click)="seleccionChange('Pausa', propiedad.id)">Pausa</button>
                </mat-menu>
              </mat-card-actions>
            </mat-card>
          </a>
        </div>
      </section>
    </app-cuerpo>
</app-contenedor>
