<h2>Filtros</h2>
<mat-dialog-content class="mat-typography">
 <h3><strong>Disposicion de propiedad</strong></h3>
 <p>Busca propiedades, habitaciones o cualquier tipo de espacio</p>
 <mat-chip-list
  class="example-chip"
  cdkDropList 
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  <mat-chip
    class="example-box"
    cdkDrag
    *ngFor="let opciones of opciones">
    {{opciones.name}}
  </mat-chip>
</mat-chip-list>
<br>
<h3><strong>Rango de precios</strong></h3>
 <p>Precios por noche</p>
 <mat-form-field >
    <mat-label>Minimo</mat-label>
    <input matInput type="number" placeholder="Precio" value="0" min="1" formControlName="rentPrice">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Maximo</mat-label>
    <input matInput type="number" placeholder="Precio" value="0" min="1" formControlName="rentPrice">
  </mat-form-field>
  <h3><strong>Habitaciones camas y baños</strong></h3>
  <p>Habitaciones</p>
  <mat-chip-list
  class="example-chip"
  cdkDropList 
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drap($event)">
  <mat-chip
    class="example-box"
    cdkDrag
    *ngFor="let opcionesHab of opcionesHab">
    {{opcionesHab.name}}
  </mat-chip>
</mat-chip-list>
<br>
  <p>Baños</p>
  <mat-chip-list
  class="example-chip"
  cdkDropList 
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drap($event)">
  <mat-chip
    class="example-box"
    cdkDrag
    *ngFor="let opcionesHab of opcionesHab">
    {{opcionesHab.name}}
  </mat-chip>
</mat-chip-list>
<br>
  <h3><strong>Tipo de propiedad</strong></h3>
  <div class="tipos">
    <button mat-raised-button 
            *ngFor="let buttonType of buttonTypes" 
            [class.selected]="selectedButtonType === buttonType.value"
            (click)="selectButtonType(buttonType.value)">
      <mat-icon aria-hidden="false" aria-label="Example icon" fontIcon="{{buttonType.icon}}"></mat-icon><br>
      <span>{{buttonType.label}}</span>
    </button>
  </div>
<br>
  <h3><strong>Servicios</strong></h3>

</mat-dialog-content> 
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-button mat-flat-button class="primary" >Buscar</button>
</mat-dialog-actions>
